body {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 18px;
  color: #ffffff; }

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.5); }

h1 {
  text-align: center; }

a:hover {
  text-decoration: none; }

p {
  margin: 0px; }

@media screen and (max-width: 767px) {
  .menu {
    position: relative; }
  .navigation-bar {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .menu {
    position: fixed;
    height: 100vh; } }

.navigation-bar {
  max-height: 80vh; }

.person {
  height: 20vh; }

.person-photo {
  display: flex;
  justify-content: center;
  align-items: center; }

.person-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; }

.person-img {
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%; }

.menu-button {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  height: 13.5vh;
  width: 100%;
  margin: 0.5vh 0vh 1vh; }

.inf {
  min-height: 100vh; }

.links {
  color: #d2d2d2;
  display: flex;
  justify-content: center;
  align-items: center; }

li {
  display: inline-block; }

section {
  background-image: url(../img/background1.jpg); }

.menu {
  background-color: rgba(26, 16, 11, 0.7); }

.inf {
  background-color: rgba(52, 33, 21, 0.7);
  border-left: 2px inset #342115; }

.person-img {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(52, 33, 21, 0.7); }

.menu-button {
  background-color: #0a0704;
  border-width: 2px;
  border-radius: 3px;
  border-color: rgba(35, 22, 14, 0.7);
  border-style: inset; }
  .menu-button:hover {
    background-color: rgba(52, 33, 21, 0.4); }

.person {
  background-color: #0a0704;
  border-bottom: 2px outset rgba(35, 22, 14, 0.7); }
