.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;

    @include isGridSupported {
        width: 100%;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    @include desktop {
        height: 100%;
    }

    &--bg {
        border: {
            color: rgba($color: $secondary, $alpha: 0.1);
            style: solid;
            width: 2px;
            radius: 30px;
        }
    }

    &:before {
        content: "";
        position: absolute;
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 10px;
        border-radius: 30px;
        box-sizing: border-box;
        background-color: rgba($color: $glass-background, $alpha: 0.5);
        box-shadow: inset 0 0 200px rgba($color: $glass-background, $alpha: 1);
        filter: blur(10px);
        z-index: -2;
    }
}
