.contacts {
    &__social {
        display: flex;
        justify-content: space-between;
    }

    &__official {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        font-size: 0.9rem;
    }
}
