.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;

    @include isGridSupported {
        width: 100%;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    @include desktop {
        height: 100%;
    }

    &--bg {
        background-color: rgba($color: #bbb, $alpha: 0.6);
        border: {
            color: rgba($color: #bbb, $alpha: 0.6);
            style: solid;
            width: 2px;
            radius: 30px;
        }
    }
}
