.logo {
    display: block;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba($color: $secondary, $alpha: 0.6);
    border-radius: 8px;
    border-color: rgba($color: $secondary, $alpha: 0.1);
    border-style: solid;
    border-width: 2px;

    &:hover {
        box-shadow: 0 0 8px rgba(white, 0.5);
        background-color: $secondary;
    }

    &--facebook {
        background-image: url("../img/facebook.png");
    }

    &--linkedin {
        background-image: url("../img/linkedin.png");
    }

    &--github {
        background-image: url("../img/github.png");
    }
}
