.profile {
    @include desktop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include mobile {
        position: relative;
    }


    &__heading {
        text-align: center;
    }

    &__photo {
        max-width: 50%;
        width: 100%;
        margin: 0 auto;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("../img/profile_photo1.jpg");
        border-radius: 50%;

        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }
}
