.record {
    display: flex;
    justify-content: center;

    @include isGridSupported {
        grid-template-columns: auto auto;
    }

    &__label {
        color: $sec-font;
        padding-right: 5px;
    }

    &__link {
        text-decoration: none;
        color: $link;
        &:hover {
            color: $link-hover;
        }
    }
}
