.record {
    display: flex;
    justify-content: center;
    font-size: 1rem;

    @include isGridSupported {
        grid-template-columns: auto auto;
    }

    &__label {
        padding-right: 5px;
    }

    &__link {
        color: $link;
        &:hover {
            color: $link-hover;
        }
    }
}
